:root {
	--timeline-zoom: 1;
}

$active: #61c4d8;
$error: red;
$success: yellowgreen;

$primary-bg: #484b4e;
$primary-border: #676767;

$sub-bg: #676767;

$primary-text: #b5b5b5;
$strong-text: #d2d2d2;
